## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [8]:
var = 42
print(var)

42

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(variable)

int

4) Crear una variable que contenga tu nombre

In [4]:
my_name = 'Maria Rosa Riccobono'

5) Crear una variable que contenga un número complejo

In [6]:
variable = 6 + 3j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
type(variable)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
pi = 9.0808

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [10]:
var1 = 'True'
var2 = True

'True' es una variable de tipo string, mientras que True es una variable de tipo booleanos.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [11]:
print(type(var1), type(var2))

<class 'str'> <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [12]:
a = 8 + 8.6

11) Realizar una operación de suma de números complejos

In [23]:
a = 6 + 1j
b = 4 + 2j
a + b

(10+3j)

12) Realizar una operación de suma de un número real y otro complejo

In [22]:
c = a + 6

13) Realizar una operación de multiplicación

In [21]:
4 * 5

20

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [18]:
a = 27 / 4
print(a)

6.75

16) De la división anterior solamente mostrar la parte entera

In [19]:
print(27 // 4)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [20]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
3 + 4 * 6

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
variable1 = 'Uma e '
variable2 = 'Inca'
variable1 + variable2

'Uma e Inca'

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
"2" == 2

False

Son variables de diferentes tipos, "2" es de tipo string y 2 pertenece a el conjunto de números enteros.

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
"2" == str(2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

Arroja error debido a que los números con decimales se representan con un punto y no llevan comillas.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [35]:
g = 3
g -= 1
print(g)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [36]:
1 << 2

4

Como el número binario 1 es desplazado dos posiciones a la izquierda, esto hace que este sea multiplicado por 2 y a su vez, 2 es elevado a la potencia de las posiciones que el número original ha sido desplazado, en este caso es dos. Entonces nos da 1*2**2=4.
El sistema de números binarios es un sistema numérico muy importante en la informática. Representa a los números utilizando dos digitos que en este caso son el 0 y el 1.

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [37]:
2 + "2"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Los operandos 2 y "2" son de tipos diferentes. Si estos fuesen del mismo tipo no arrojaria error, por ejemplo: 
2 + 2 = 4, en este caso tenemos dos números enteros. En cambio si quisieramos sumar '2' + '2', su resultado va a ser '22', ya que cuando los números están entre comillas pertenecen al tip de string.

26) Realizar una operación válida entre valores de tipo entero y string

In [41]:
var1 = 5
var2 = 'Los animales comen al día '
print(var2 + str(var1) + ' veces')

Los animales comen al día 5 veces